# Ignore the following files
# --------------------------
# Unity3D specific
#
**/Library/*
**/Temp/*
**/Assets/Editor Default Resources/*
**/Assets/ExternalDependencyManager/*
**/Assets/Firebase/*
**/Assets/MemoryProfiler/*
**/Assets/Parse/*
**/Assets/Plugins/*
**/Assets/StreamingAssets/*
**/*.csproj
**/*.unityproj
**/*.sln
**/*.userprefs
**/*.pidb

# include meta files
!*.*.meta
Editor Default Resources.meta
ExternalDependencyManager.meta
Firebase.meta
MemoryProfiler.meta
Parse.meta
Plugins.meta
StreamingAssets.meta
